# 유튜브 랭킹 데이터 수집하기

In [9]:
!apt-get update > /dev/null
!pip install selenium > /dev/null
!apt install chromium-chromedriver > /dev/null

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

In [10]:
from selenium import webdriver
from bs4 import BeautifulSoup
import time
import pandas as pd

In [11]:

options = webdriver.ChromeOptions()
options.add_argument('--headless')   # 화면없이 실행
options.add_argument('--no-sandbox')
options.add_argument("--single-process")
options.add_argument("--disable-dev-shm-usage")
driver = webdriver.Chrome('chromedriver', options=options)

In [12]:
url = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube&page=1'
driver.get(url)
# time.sleep(2)

In [13]:
trs = driver.find_elements_by_css_selector('.aos-init')
len(trs)

100

In [16]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [18]:
# soup.select('form > table > tbody > tr')
channel_list = soup.select('.aos-init')
len(channel_list)

100

In [19]:
channel = channel_list[0]
category = channel.select_one('p.category').get_text().strip(' \n[]')
category

'음악/댄스/가수'

In [20]:
name = channel.select_one('.subject a').text.strip()
name

'BLACKPINK'

In [21]:
subscriber = channel.select_one('.subscriber_cnt').text
view = channel.select_one('.view_cnt').text
video = channel.select_one('.video_cnt').text[:-1]
subscriber, view, video

('6410만', '190억1809만', '371')

In [22]:
channels = []
for channel in channel_list:
    category = channel.select_one('p.category').get_text().strip(' \n[]')
    name = channel.select_one('.subject a').text.strip()
    subscriber = channel.select_one('.subscriber_cnt').text
    view = channel.select_one('.view_cnt').text
    video = channel.select_one('.video_cnt').text[:-1]
    channels.append([category,name,subscriber,view,video])

In [23]:
df = pd.DataFrame(channels, columns=['카테고리','채널명','구독자수','조회수','비디오수'])
df.head()

       카테고리                          채널명   구독자수        조회수   비디오수
0  음악/댄스/가수                    BLACKPINK  6410만  190억1809만    371
1  음악/댄스/가수                  HYBE LABELS  6040만  187억5681만    655
2  음악/댄스/가수                    BANGTANTV  5650만  122억1297만  1,580
3  음악/댄스/가수                       SMTOWN  2850만  219억1233만  3,729
4    키즈/어린이  Boram Tube Vlog [보람튜브 브이로그]  2650만  110억5288만    223

In [24]:

df.tail()

         카테고리                    채널명  구독자수       조회수   비디오수
95  음식/요리/레시피           까니짱 [ G-NI ]  408만  10억3471만    482
96     키즈/어린이  로미유 스토리[Romiyu Story]  408만  10억6656만    433
97   음악/댄스/가수              NCT DREAM  387만   3억7615만    229
98     취미/라이프        JaeYeol ASMR 재열  381만  10억1679만    971
99  BJ/인물/연예인               허팝Heopop  381만  31억4525만  1,850

- 만과 억을 숫자로 바꿔주는 함수

In [25]:
def convert_unit(s):
    #s = ''.join(s.split('억'))
    s = s.replace('억', '').replace('개','').replace(',','')
    s = s.replace('만', '0000')
    return f'{int(s):,d}'

In [26]:
convert_unit('123억6,557만개')

'12,365,570,000'

- 두번째 페이지 - XPath로 찾아 Click() 하여 이동하기

In [27]:
# //*[@id="list-skin"]/nav/span/a[1]
driver.find_element_by_xpath('//*[@id="list-skin"]/nav/span/a[1]').click()

In [28]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [29]:
channel_list = soup.select('.aos-init')
len(channel_list)

100

In [30]:

results = []
for channel in channel_list:
    category = channel.select_one('p.category').get_text().strip(' \n[]')
    name = channel.select_one('.subject a').text.strip()
    subscriber = convert_unit(channel.select_one('.subscriber_cnt').text)
    view = convert_unit(channel.select_one('.view_cnt').text)
    video = convert_unit(channel.select_one('.video_cnt').text)
    results.append([category,name,subscriber,view,video])

In [31]:
df = pd.DataFrame(results, columns=['카테고리','채널명','구독자수','조회수','비디오수'])
df.head()

        카테고리              채널명       구독자수            조회수   비디오수
0    애완/반려동물           크림히어로즈  3,800,000  1,375,340,000    941
1  BJ/인물/연예인      워크맨-Workman  3,790,000    683,190,000    141
2  BJ/인물/연예인      waveya 2011  3,730,000  1,346,770,000    702
3     키즈/어린이  Lime Tube[라임튜브]  3,730,000  2,596,350,000  1,724
4   음악/댄스/가수           WINNER  3,730,000  1,171,360,000    428

# page 1에서 10까지 크롤링하기

In [32]:
results = []
for page in range(1,11):
    url = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube&page='+str(page)
    driver.get(url)
    time.sleep(3)
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    channel_list = soup.select('.aos-init')

    for channel in channel_list:
        category = channel.select_one('p.category').get_text().strip(' \n[]')
        name = channel.select_one('.subject a').text.strip()
        subscriber = convert_unit(channel.select_one('.subscriber_cnt').text)
        view = convert_unit(channel.select_one('.view_cnt').text)
        video = convert_unit(channel.select_one('.video_cnt').text)
        results.append([category,name,subscriber,view,video])

In [33]:

df = pd.DataFrame(results, columns=['카테고리','채널명','구독자수','조회수','비디오수'])
df.head()

       카테고리                          채널명        구독자수             조회수   비디오수
0  음악/댄스/가수                    BLACKPINK  64,100,000  19,018,090,000    371
1  음악/댄스/가수                  HYBE LABELS  60,400,000  18,756,810,000    655
2  음악/댄스/가수                    BANGTANTV  56,500,000  12,212,970,000  1,580
3  음악/댄스/가수                       SMTOWN  28,500,000  21,912,330,000  3,729
4    키즈/어린이  Boram Tube Vlog [보람튜브 브이로그]  26,500,000  11,052,880,000    223

In [34]:
df.tail()

          카테고리        채널명     구독자수          조회수    비디오수
995         게임        OGN  510,000  608,880,000  27,433
996        미분류  밉지않은 관종언니  510,000   67,950,000     170
997         게임         미소  510,000  210,780,000   3,084
998  음식/요리/레시피      Muggo  510,000  183,720,000   1,388
999         게임        임선비  510,000  234,290,000   1,134

In [35]:
df.to_csv('유튜브_순위.csv', index=None)

In [36]:
driver.close()