# Pandas - Series

In [1]:
import numpy as np # 없어도 괜찮
import pandas as pd

## 시리즈 생성

In [3]:
s = pd.Series([8987, 567678, 532378,3])
s

0      8987
1    567678
2    532378
3         3
dtype: int64

In [5]:
s = pd.Series([8987, 567678, 532378,3],
              index=['서울','부산','인천','대구'], dtype=np.int32)
s

서울      8987
부산    567678
인천    532378
대구         3
dtype: int32

In [6]:
# 시리즈의 값 - 넘파이 배열
s.values

array([  8987, 567678, 532378,      3], dtype=int32)

In [7]:
# 시리즈의 인덱스 
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [9]:
s.name = '인구'
s.index.name = '도시'
s

도시
서울      8987
부산    567678
인천    532378
대구         3
Name: 인구, dtype: int32

## 시리즈의 연산

In [11]:
s / 10000 #타입이 float(실수형)으로 바뀜

도시
서울     0.8987
부산    56.7678
인천    53.2378
대구     0.0003
Name: 인구, dtype: float64

## 시리즈 인덱싱

In [12]:
s[1], s['부산']

(567678, 567678)

In [14]:
# fancy indexing in numpy
s[[0,3,1]]

도시
서울      8987
대구         3
부산    567678
Name: 인구, dtype: int32

In [16]:
# slicing
s[1:3]

도시
부산    567678
인천    532378
Name: 인구, dtype: int32

In [19]:
# 인덱스로 슬라이싱하면 마지막도 포함
s['부산':'대구']

도시
부산    567678
인천    532378
대구         3
Name: 인구, dtype: int32

In [22]:
# 필터링 d
#s[2500 < s <300000] #불가
s[(250 < s) & (s < 500000)]

도시
서울    8987
Name: 인구, dtype: int32

In [23]:
s[(s<25e5) | (s>4e6)]

도시
서울      8987
부산    567678
인천    532378
대구         3
Name: 인구, dtype: int32

In [24]:
s.부산

567678

## 시리즈와 딕셔너리

In [25]:
# 시리즈 만들때는 굳이 권장하지 않음
# df에 사용
s2 = pd.Series({"서울":9897679, "부산":8768767, "인천":5798789, "대전":290076})
s2

서울    9897679
부산    8768767
인천    5798789
대전     290076
dtype: int64

## 인덱스 기반 연산

In [26]:
s - s2

대구          NaN
대전          NaN
부산   -8201089.0
서울   -9888692.0
인천   -5266411.0
dtype: float64

In [29]:
s.values - s2.values

array([-9888692, -8201089, -5266411,  -290073])

In [30]:
rs = (s-s2)/s2 * 100
rs

대구          NaN
대전          NaN
부산   -93.526137
서울   -99.909201
인천   -90.819152
dtype: float64

In [31]:
rs.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [32]:
rs[rs.notnull()]

부산   -93.526137
서울   -99.909201
인천   -90.819152
dtype: float64

## 데이터의 갱신, 추가, 삭제

In [33]:
# Update
rs['부산'] = 1.63
rs

대구          NaN
대전          NaN
부산     1.630000
서울   -99.909201
인천   -90.819152
dtype: float64

In [35]:
# 추가
rs['대구'] = 1.41
rs

대구     1.410000
대전          NaN
부산     1.630000
서울   -99.909201
인천   -90.819152
dtype: float64

In [36]:
# 삭제
del rs['부산']
rs

대구     1.410000
대전          NaN
서울   -99.909201
인천   -90.819152
dtype: float64