# 데이터프레임 고급 인덱싱

In [3]:
import numpy as np
import pandas as pd

## loc 인덱서

In [6]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["x", "y", "z"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

In [7]:
df.loc['x']

A    10
B    11
C    12
D    13
Name: x, dtype: int64

In [8]:
df.loc['x':'y']

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [9]:
df['A'] > 15

x    False
y    False
z     True
Name: A, dtype: bool

In [10]:
# Boolean indexing
df.loc[df.A > 15]

    A   B   C   D
z  18  19  20  21

## 인덱서 2개 받는 경우

In [11]:
df.loc['x','A']

10

In [13]:
df.loc['y':, 'B']

y    15
z    19
Name: B, dtype: int64

## iloc 인덱서

In [14]:
df.iloc[0,0]

10

In [15]:
df.iloc[:2, 1:]

    B   C   D
x  11  12  13
y  15  16  17

In [16]:
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: z, dtype: int64

In [18]:
### 연습문제 4.3.1
df = pd.DataFrame(np.arange(25).reshape(5,5), 
                  index = ['a','b','c','d','e'],
                  columns = ['v','w','x','y','z'])
df

    v   w   x   y   z
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [21]:
#10가지 이상의 방법으로 12 추출
df['x']['c']

12

In [22]:
df.x['c']

12

In [23]:
df.x[2]

12

In [24]:
df.x.c

12

In [27]:
df.loc['c','x']

12

In [28]:
df.loc['c']['x']

12

In [29]:
df.loc['c'][2]

12

In [30]:
df.iloc[2, 2]

12

In [31]:
df.iloc[2]['x']

12

In [32]:
df.iloc[2][2]

12