# 선형 리스트의 기본

## 선형 리스트의 원리

### 데이터 삽입

#### 1단계

In [3]:
katok = [] # 빈 배열

# katok.append(None)
# katok[0] = '다현'

# katok.append(None)
# katok[1] = '정연'
# 이렇게하면 넘 귀찮아

def add_data(friend): # 새 친구 추가 함수
    katok.append(None)
    kLen = len(katok)
    katok[kLen-1] = friend

add_data('다현')
add_data('정현')
add_data('쯔위')
add_data('사나')
add_data('지효')

print(katok)

['다현', '정현', '쯔위', '사나', '지효']

#### 2단계

In [5]:
katok = ['다현', '정현', '쯔위', '사나', '지효']

def insert_data(position, friend): # 삽입 함수
    
    katok.append(None)
    kLen = len(katok)
    
    for i in range(kLen-1, position, -1):
        katok[i] = katok[i-1]
        katok[i-1] = None
    katok[position] = friend

insert_data(2, '솔라')
print(katok)
insert_data(6, '문별')
print(katok)

['다현', '정현', '솔라', '쯔위', '사나', '지효']
['다현', '정현', '솔라', '쯔위', '사나', '지효', '문별']

### 데이터 삭제: 중간 데이터 삭제

In [8]:
katok = ['다현', '정현', '쯔위', '사나', '지효']

def delete_data(position):
    kLen = len(katok)
    katok[position] = None

    for i in range(position+1, kLen, 1):
        katok[i-1] = katok[i]
        katok[i] = None
    
    del(katok[kLen-1])

delete_data(1)
print(katok)
delete_data(3)
print(katok)

['다현', '쯔위', '사나', '지효']
['다현', '쯔위', '사나']

### 기본 선형 리스트의 완성

In [ ]:
## 함수 선언부
def add_data(friend): # 새 친구 추가 함수
    katok.append(None)
    kLen = len(katok)
    katok[kLen-1] = friend

def insert_data(position, friend): # 삽입 함수
    katok.append(None)
    kLen = len(katok)
    for i in range(kLen-1, position, -1):
        katok[i] = katok[i-1]
        katok[i-1] = None
    katok[position] = friend

## 전역 변수부
katok = []
select = -1 # 1추가 2삽입 3삭제 4종료

## 메인 코드부
while (select != 4):
    select = int(input("1추가 2삽입 3삭제 4종료-->"))

    if (select == 1):
      pass # 추가 작동
    elif (select == 2):
      pass # 삽입 작동
    elif (select == 3):
      pass # 삭제 작동
    elif (select == 4):